<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <a href="{{ url_for('index') }}" class="logo-link">
        <img src="{{ url_for('static', filename='images/SDBHtml.png') }}" alt="SDBHtml Logo" class="logo">
    </a>
    <div class="interface">
        <div class="button-bar">
            <a href="{{ url_for('index') }}" class="button">Главная</a>
            <a href="{{ url_for('about') }}" class="button">О нас</a>
            <a href="{{ url_for('contact') }}" class="button">Контакты</a>
        </div>
        <div class="content">
            <h1>КОНТАКТЫ</h1>
            <p>Свяжитесь с нами: example@email.com</p>
        </div>
    </div>
</body>
</html>